<div class="hero min-h-screen relative">
  <div class="hero-content flex-col lg:flex-row">
    <%=image_tag "tomato.png", class: "max-w-sm rounded-lg" %>
    <div>
      <h1 class="text-5xl font-bold">おやさいUP</h1>
      <p class="py-6">

      </p>
      <%= link_to "おやさいReportをみる",posts_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
