<div id="loading" class="flex justify-center fixed top-0 left-0 z-50 w-screen h-screen bg-amber-50" aria-label="読み込み中">
    <div class="animate-spin h-8 w-8 bg-[#f87d08] rounded-xl mt-48"></div>
</div>