@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.25rem;
  font-weight: bold;
}
h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.0rem;
  line-height: 2.25rem;
  font-weight: bold;
}
.container {
  width: 80%;
  margin: 20px auto;
  padding-bottom: 80px;
}
.form-container {
  max-width: 800px;
}
.title-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 投稿カードのタイトル表示行数指定 */
}
.txt-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
.btn-primary {
  color: white;
}
.btn-accent {
  color: #48350e;
}